body{
    background: #efefef;
}
.moreInf{
    font-size:12px;
}
.logoPrincipal{
    width: 100%;
    max-width: 70px;
    margin:10px 15px 10px 39px;
    float: left;
}
.navTitle{
    line-height: 3.5;
}
.logoLogin {
    width: 100%;
    max-width: 150px;
    margin-top: 20px;
}
.mainCont {
    min-height: 740px;
    height: 100%;
}
.Tcent {
    text-align: center;
}
.avisos {
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    height: 200px;
}
.circularesDiv {
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    height: 490px;
}
.card-header {
    height: 50px;
    line-height: 2;
}
#up{
    font-size: 31px;
}
.bluetecFont {
    color: #224a90
}
.orangeTecFont {
    color: #eb692c;
}
.bluetecBg {
    background: #224a90
}
.orangeTecBg {
    background: #eb692c;
}
.fechaAviso {
    padding: 3px;
    font-size: 13px;
    color: white;
    background: rgba(128, 128, 128, 0.57);
    border-radius: 2px;
}
.profpic {
    max-width: 70px;
    border-radius: 50px;
}
.bloque {
    border: solid 1px #cccccc;
    box-shadow: 0px 3px 9px 0px #888888;
    padding: 15px;
    margin: 10px ;
    background: white;
    max-height: 593.391px;

}
.width{
    width: 100%;
    height: 110px;
}
.shadow {
    box-shadow: 0px 3px 9px 0px #888888;
}
.eventosLabels{
    text-align: center;
    width: 100%;
    max-width: 115px;
    font-size: 17px;
}
.aca {
    margin: 10px;
    color: white;
    padding: 3px;
    background: #376fc3!important;

}
.soc {
    padding: 3px;
    margin: 10px;
    color: white;
    background: #e67b5d!important;

}
.ext {
    color: white;
    padding: 3px;
    margin: 10px;
    background: #3b8c41!important;

}
.calText {
    display: inline-flex;
    display: -webkit-inline-box;
    display: flex;
}
.eventosLabelsdiv{
    padding: 0;
}
.naav{
    background: white;
    border: none;
}

.fc-left > h2{
    text-transform: capitalize;
    font-size: 25px;
}
.navTitle{
    font-size: 30px;
    color: #9d9d9d;
}

.salir{
    float: right;
    margin-top: 37px;
    text-align: center;
    width: 80px;
    background: #eb692c;
    color: white;
}
.salir > a{
    font-size: 25px;
    color: white;
}

.iconblock{
    font-size: 55px;
    line-height: 1.3;
}
@media screen and (max-width: 800px){
    .navTitle {
        line-height: 4;
        font-size: 27px;
    }
}
@media screen and (max-width: 768px){
    .naav{
    text-align: center;
    }

    .logoPrincipal {
        float: initial;
    }

}
@media screen and (max-width: 425px){
    .eventosLabels{
        max-width: 100px;
        font-size: 15px;
    }
}
@media screen and (max-width: 375px){
    .eventosLabels{
        max-width: 86px;
        font-size: 13px;
    }

    .profpic {
        margin-top: 7px;
        max-width: 50px;
    }

}
@media screen and (max-width: 320px){
    .eventosLabels{
        max-width: 70px;
        font-size: 10px;
    }
    .profpic {
        margin-left: -14px;
        max-width: 50px;
    }
}

