body{
    background: #efefef;
}
.container-fluid{
    width: 100%;
    max-width: 1440px;
}
.imgText{
    margin: 0;
}
.alertPrincipal{
    min-height: 150px;
    height: 100%;
    text-align: center;
    margin-top: 25px;
}
.alertPrincipal > strong{
    font-size: 27px;
}
.alertPrincipal > p{
    font-size: 18px;
    text-align: center;
    width: 100%;
}
.padresAlumnos{
    border-bottom: none;
    border-top: solid #ce6330;
    border-right: solid #ce6330;
    border-left: solid #ce6330;
}
.padresSm:hover{
    color: #ffffff!important;
    background: #224a90!important;
}.padresSm:active{
    color: #ffffff!important;
    background: #224a90!important;
}

 .bloqueNum{
     border: solid 1px #cccccc;
     box-shadow: 0px 3px 9px 0px #888888;
     padding: 15px;
     margin: 10px;
     background: white;
     max-height: 593.391px;
     height: 400px;
     text-align: center;
     font-size: 25px;
 }
 .nums{
     background: white;
     font-size: 30px;
     color: #eb692c;
     padding: 3px;
 }
 .imgSlide{
     width: 100%;
 }

.linkAviso{
    border-radius: 3px;
    font-size: 15px;
    background: #224a90;
    color: white;
    padding: 8px;
}

.alertPrincipal>a:hover{
    text-decoration: none;
    color: white;
}
.mainLogo{
    text-align: center;
}

.navbar{
    box-shadow: none;
    border: 0;
    background: transparent;
}
.navbar-nav > li>a{
    font-size: 18px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}


.cardTitle{
    margin-left: 70px;
}
.cardIcon{
    position: absolute;
    font-size: 40px;
    top: 17px;
    left: 30px;
}


.avisoInstance{
    font-size: 19px;
    padding: 3px;
}
td > a{
    text-decoration: none;
    color: #5a5656!important;
}
td > a:hover{
    text-decoration: none;
    color: #5a5656!important;
}
td > span{
    width: 100%;
    margin-top: 2px;
    padding: 3px;
    color: white;
    background: #224a90;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 9px;
    float: right;
    margin-right: 2px;

}
tr:nth-child(even) {
    background-color: rgba(221, 95, 40, 0.37);
}tr:nth-child(odd) {
    color: #5a5656!important;
}


.avisosList{
    height: 318px;
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;

}
.slideImg{
    height: 100%;
    min-height: 50vh;
    max-height: 50vh;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.ofertaSlide{
    height: 100%;
    min-height: 350px;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.dropHead{
    color: white;
    background: rgba(34, 74, 144, 0.77);
}
.moreInf{
    font-size:12px;
}
.logoPrincipal{
    margin-left: -40px;
    z-index: 9999999999;
    position: absolute;
    margin-top: 10px;
    width: 100%;
    max-width: 120px;
}
.navTitle{
    line-height: 3.5;
}
.logoLogin {
    width: 100%;
    max-width: 150px;
    margin-top: 20px;
}
.mainCont {
    min-height: 740px;
    height: 100%;
}
.Tcent {
    text-align: center;
}
.avisos {
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    height: 200px;
}
.circularesDiv {
    width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    height: 490px;
}
.card-header {
    height: 50px;
    line-height: 2;
}
#up{
    font-size: 31px;
}
.bluetecFont {
    color: #224a90
}
.orangeTecFont {
    color: #eb692c;
}
.bluetecBg {
    background: #224a90
}
.orangeTecBg {
    background: #eb692c;
}
.fechaAviso {
    padding: 3px;
    font-size: 13px;
    color: white;
    background: rgba(128, 128, 128, 0.57);
    border-radius: 2px;
}
.profpic {
    max-width: 70px;
    border-radius: 50px;
}
.bloque {
    border: solid 1px #cccccc;
    box-shadow: 0px 3px 9px 0px #888888;
    padding: 15px;
    margin: 10px ;
    background: white;
    max-height: 593.391px;
    height: 400px;
}
.width{
    width: 100%;
    height: 110px;
}
.shadow {
    box-shadow: 0px 3px 9px 0px #888888;
}
.eventosLabels{
    text-align: center;
    width: 100%;
    max-width: 115px;
    font-size: 17px;
}
.aca {
    margin: 10px;
    color: white;
    padding: 3px;
    background: #376fc3!important;

}
.soc {
    padding: 3px;
    margin: 10px;
    color: white;
    background: #e67b5d!important;

}
.ext {
    color: white;
    padding: 3px;
    margin: 10px;
    background: #3b8c41!important;

}
.calText {
    display: inline-flex;
    display: -webkit-inline-box;
    display: flex;
}
.eventosLabelsdiv{
    padding: 0;
}
.naav{
    background: white;
    border: none;
}

.fc-left > h2{
    text-transform: capitalize;
    font-size: 25px;
}
.navTitle{
    font-size: 30px;
    color: #9d9d9d;
}

.salir{
    float: right;
    margin-top: 37px;
    text-align: center;
    width: 80px;
    background: #eb692c;
    color: white;
}
.salir > a{
    font-size: 25px;
    color: white;
}

.iconblock{
    font-size: 55px;
    line-height: 1.3;
}
.slideBut{
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 3px;
}

#tag1{
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 20%;
    color: white;
    font-weight: 400;
    top: 20%;
}
#tag2{
    font-size: 35px;
    position: absolute;
    left: 15%;
    color: white;
    top: 45%;
    text-align: center;
}
#tag3{
    position: absolute;
    top: 75%;
    left: 38%;
}
#tag4{
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 28%;
    color: white;
    font-weight: 400;
    top: 20%;
}
#tag5{
    font-size: 35px;
    position: absolute;
    left: 5%;
    color: white;
    top: 45%;
    text-align: center;
}
#tag6{
    position: absolute;
    top: 75%;
    left: 38%;
}
#tag7{
    text-align: center;
    font-size: 50px;
    position: absolute;
    left: 36%;
    color: white;
    font-weight: 400;
    top: 20%;
}
#tag8{
    font-size: 35px;
    position: absolute;
    left: 5%;
    color: white;
    top: 45%;
    text-align: center;
}
.butInf1{
    color: white;
    background: #224a90;
    padding: 10px;
    font-size: 30px;
}
.butInf2{
    color: white;
    background: #009688;
    padding: 10px;
    font-size: 30px;
}
.butInf3{
    color: white;
    background: #ff5722;
    padding: 10px;
    font-size: 30px;
}
.butInf1:hover,.butInf2:hover,.butInf3:hover{
    color: #ffffff;
    text-decoration: none;
}

#que,#quienes,#ventajas{
    margin-top: 60px;
    margin-bottom: 30px;
}




/*SLIDER OFERTA*/

@media screen and (max-width: 1024px) {
    #tag1{
        font-size: 35px;
        position: absolute;
        left: 20%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag2{
        font-size: 24px;
        position: absolute;
        left: 15%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag3{
        position: absolute;
        top: 75%;
        left: 32%;
    }
    #tag4{
        font-size: 35px;
        position: absolute;
        left: 27%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag5{
        font-size: 24px;
        position: absolute;
        left: 4%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag6{
        position: absolute;
        top: 75%;
        left: 32%;
    }
    #tag7{
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 29%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag8{
        font-size: 28px;
        position: absolute;
        left: 3%;
        color: white;
        top: 45%;
        text-align: center;
    }
}



@media screen and (max-width: 768px) {
    #tag1{
        font-size: 50px;
        position: absolute;
        left: 20%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag2{
        font-size: 35px;
        position: absolute;
        left: 15%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag3{
        position: absolute;
        top: 75%;
        left: 38%;
    }
    #tag4{
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 28%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag5{
        font-size: 35px;
        position: absolute;
        left: 8%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag6{
        position: absolute;
        top: 75%;
        left: 38%;
    }
    #tag7{
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 36%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag8{
        font-size: 35px;
        position: absolute;
        left: 6.5%;
        color: white;
        top: 45%;
        text-align: center;
    }

}
@media screen and (max-width: 425px) {
    #tag1{
        font-size: 35px;
        position: absolute;
        left: 9%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag2{
        font-size: 24px;
        position: absolute;
        left: 1%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag3{
        position: absolute;
        top: 75%;
        left: 26%;
    }
    #tag4{
        font-size: 35px;
        position: absolute;
        left: 21%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag5{
        font-size: 24px;
        position: absolute;
        left: 0%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag6{
        position: absolute;
        top: 75%;
        left: 26%;
    }
    #tag7{
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 22%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag8{
        font-size: 28px;
        position: absolute;
        left: 3%;
        color: white;
        top: 45%;
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    #tag1{
        font-size: 36px;
        position: absolute;
        left: 0%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag2{
        font-size: 24px;
        position: absolute;
        left: 1%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag3{
        position: absolute;
        top: 75%;
        left: 20%;
    }
    #tag4{
        font-size: 36px;
        position: absolute;
        left: 11%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag5{
        font-size: 24px;
        position: absolute;
        left: 0%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag6{
        position: absolute;
        top: 75%;
        left: 20%;
    }
    #tag7{
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 16%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag8{
        font-size: 23px;
        position: absolute;
        left: 3%;
        color: white;
        top: 45%;
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    #tag1{
        font-size: 32px;
        position: absolute;
        left: 0%;
        color: white;
        font-weight: 400;
        top: 14%;
    }
    #tag2{
        font-size: 24px;
        position: absolute;
        left: 1%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag3{
        position: absolute;
        top: 75%;
        left: 11%;
    }
    #tag4{
        font-size: 32px;
        position: absolute;
        left: 7%;
        color: white;
        font-weight: 400;
        top: 14%;
    }
    #tag5{
        font-size: 24px;
        position: absolute;
        left: 1%;
        color: white;
        top: 45%;
        text-align: center;
    }
    #tag6{
        position: absolute;
        top: 75%;
        left: 11%;
    }
    #tag7{
        text-align: center;
        font-size: 50px;
        position: absolute;
        left: 4%;
        color: white;
        font-weight: 400;
        top: 20%;
    }
    #tag8{
        font-size: 23px;
        position: absolute;
        left: 3%;
        color: white;
        top: 40%;
        text-align: center;
    }
}

#que_ofrecemos{
    margin-top: 100px;
}

.greyFont{
    color:#636262;
}

.desc{
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .navbar-nav > li > a {
        font-size: 14px;
    }

    .logoPrincipal {
        margin-left: -50px;
        z-index: 99999999999;
        position: absolute;
        margin-top: 10px;
        width: 100%;
        max-width: 100px;
    }
}
@media screen and (max-width: 800px){
    .navTitle {
        line-height: 4;
        font-size: 27px;
    }

}
@media screen and (max-width: 768px){
    .imgSlide{
        height: 350px;
    }
    .navbar-nav > li>a{
        font-size: 10px;
    }
    .naav{
    text-align: center;
    }


    .logoPrincipal {
        float: initial;
        width: 100%;
        max-width: 100px;
    }
    .slideImg{
        min-height:45vh ;
    }

}
@media screen and (max-width: 425px){

    .imgSlide {
        height: 230px;
    }
    .photoSlide{
        margin-top: 60px;
    }
    .eventosLabels{
        max-width: 100px;
        font-size: 15px;
    }

    .logoPrincipal {
        margin-left: -26px;
        z-index: 99999999999;
        position: absolute;
        margin-top: 10px;
        width: 100%;
        max-width: 52px;
    }
    .slideImg{
        min-height: 25vh;
    }

}
@media screen and (max-width: 375px){
    .eventosLabels{
        max-width: 86px;
        font-size: 13px;
    }

    .profpic {
        margin-top: 7px;
        max-width: 50px;
    }
    .slideImg{
        min-height: 22vh;
    }

}
@media screen and (max-width: 320px){
    .eventosLabels{
        max-width: 70px;
        font-size: 10px;
    }
    .profpic {
        margin-left: -14px;
        max-width: 50px;
    }
    .slideImg{
        min-height: 18vh;
    }
}



