.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* Text Overlay */
#lab_video_text_overlay h2 {
    font-size:4em
}

#lab_video_text_overlay .btn {
    border-radius:0;
    text-transform:uppercase;
    font-weight:200;
}
#lab_video_text_overlay .btn-warning {
    background-color:#F5D328;
}

#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
}

#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
//  background-color: #669900;
}

@media screen and (max-width:991px) {
    #lab_video_text_wrap {
        height: 300px;
    }
}

@media screen and (max-width:650px) {
    #lab_video_text_wrap {
        height: 250px;
    }
    #lab_video_text_overlay h2 {
        font-size: 2em;
    }
    #lab_video_text_overlay p {
        font-size: .9em;
    }
}